// COLOR CODE 추후 변경 요망

// WHITE COLOLRS
$color-white-000: #ffffff;
$color-white-050: #f6f7f9;
$color-white-100: #fafbfd;
$color-white-150: #fafafa;
$color-white-200: #e6e8ed;
$color-white-300: #ededed;
$color-white-350: #d9d9d9;
$color-white-400: #dadada;
$color-white-450: #b1b1b1;
$color-white-500: #9d9d9c;
$color-white-550: #9b9da4;
$color-white-600: #9c9c9b;
$color-white-700: #777777;
$color-white-800: #9b9b9b;
$color-white-900: #777777;

// RED COLORS
$color-red-000: #de3e47;

// GREEN COLORS
$color-green-000: #2ec1a0;
$color-green-100: #198754;

// BLUE COLORS
$color-blue-000: #f5f8fc;
$color-blue-050: #e9f2ff;
$color-blue-100: #b5d3e6;
$color-blue-200: #74bcf4;
$color-blue-300: #6472d3;
$color-blue-400: #0075ff;
$color-blue-500: #1661a9;
$color-blue-600: #294e92;
$color-blue-700: #384c9b;
$color-blue-800: #3c4b84;
$color-blue-850: #4b639a;
$color-blue-900: #324d8d;

// BLACK COLORS
$color-black-300: #636262;
$color-black-400: #030303;
$color-black-500: #595959;
$color-black-600: #3c3c3b;
$color-black-700: #1f1f23;
$color-black-800: #1d1d1b;
$color-black-900: #000000;

$focus-border-color: $color-blue-600;